@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import '~uikit/dist/css/uikit.min.css';

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5em;
    color: black;
}

a {
    text-decoration: none;
    color: black !important;
}

.NavLink-active {
    text-decoration: line-through !important;
}