@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.Button {
    display: grid;
    grid-column-end: span 12;
    justify-content: center;
    max-height: 50vh;
    white-space: nowrap;
    font-family: 'Source Code Pro', monospace;
    font-size: 16pt;
}


.Button a {
    overflow: hidden;
    margin: 0 auto;
    border-right: .15em solid black;
    border-right-width: 15px;
    animation: typing 1.5s steps(15, end),
    blink 0.5s infinite;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink{
    from, to { border-color: transparent }
    50% { border-color: black }
}