.Nav {
    display: grid;
    grid-area: 3 / 3 / 4 / 4;
    justify-content: center;
    text-align: center;
}

.Nav ul {
    list-style: none;
}

.Nav a {
    text-decoration: none;
}

.Nav__Logo {
    width: 25vh;
}